/* General Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #f6f6f6;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background: #2962ff;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #fff;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Main Content Styles */
.courses-container { /* Added style for the courses container */
    padding-bottom: 40px; /* Adjusted padding to push footer down */
}

.course {
    margin-bottom: 40px; /* Added margin between courses */
}

.course h3 {
    margin-top: 20px; /* Added spacing between course title and description */
}

/* Button Styles */
.button {
    display: inline-block;
    background: #2962ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

.button:hover {
    background: #0039cb;
}

/* Footer Styles */
footer {
    background: #2962ff;
    padding: 20px 0;
}

footer p {
    font-size: 16px;
    color: #fff;
}

.social-icons .icon-link {
    display: inline-block;
    margin-right: 10px;
}

.social-icons .icon-link img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
